[*.cs]

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = true

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = none

# IDE0056: Use index operator
dotnet_diagnostic.IDE0056.severity = none
