<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileVersionUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FileVersionUpdater.Properties.Settings>
            <setting name="AssemblyInfoFileList" serializeAs="String">
                <value>
                C:\Users\mikea\source\repos\oba-mlittle\FDA\Common\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\ConnectionManager\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\DataAquistionManagar\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\DBManager\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\FDAApp\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\FDAInterface\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\FDATimer\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\ModbusProtocol\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\ROCProtocol\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\TCPServer\Properties\AssemblyInfo.cs;
                C:\Users\mikea\source\repos\oba-mlittle\FDA\BSAP\Properties\AssemblyInfo.cs</value>
             </setting>
        </FileVersionUpdater.Properties.Settings>
    </userSettings>
</configuration>